sudo: required

services:
  - docker

# It is not really needed, other than for showing correct language tag in Travis CI build log.
language: python

env:
  global:
    - ROS_DISTRO=kinetic
    - ROS_CI_DESKTOP=xenial
    - CI_SOURCE_PATH=/travis
    - ROSINSTALL_FILE=$CI_SOURCE_PATH/dependencies.rosinstall

before_install:
  - docker run -d --name ubuntu-test -v $(pwd):/$CI_SOURCE_PATH ros:$ROS_DISTRO-ros-core-$ROS_CI_DESKTOP tail -f /dev/null
  - docker ps

install:
  - docker exec -t ubuntu-test bash -c "source /opt/ros/$ROS_DISTRO/setup.bash;
    rosdep update"

before_script:
  - docker exec -t ubuntu-test bash -c "mkdir -p catkin_ws/src;
    ln -s /travis ./catkin_ws/src;
    cd ./catkin_ws/src;
    wstool init;
    if [[ -f $ROSINSTALL_FILE ]] ; then wstool merge $ROSINSTALL_FILE ; fi;
    wstool up;
    cd ..;
    rosdep install -y --from-paths src --ignore-src --rosdistro $ROS_DISTRO;
    cd .."

script:
    docker exec -t ubuntu-test bash -c "source /opt/ros/$ROS_DISTRO/setup.bash &&
    cd ./catkin_ws/src &&
    catkin_init_workspace &&
    cd .. &&
    catkin_make &&
    source devel/setup.bash &&
    cd src &&
    roslaunch TROSnagivator.xml"