sudo: required

services:
  - docker

# It is not really needed, other than for showing correct language tag in Travis CI build log.
language: python

env:
  global:
    - ROS_DISTRO=kinetic
    - ROS_CI_DESKTOP=xenial
    - CI_SOURCE_PATH=/catkin_ws/src
    - ROSINSTALL_FILE=$CI_SOURCE_PATH/dependencies.rosinstall
    - secure: YgJWCOncmGBg+7i4yC9SAZ36C24dUgb3t7G8ISnCv4mpycuEdhmv6O7BQCIPdopjF3VPV8+edx5MzV7d8Vcu8mDkLcb00Is/BC0Vfx6RJyPHeTadCFxdEjrYl37yx9seQDxBErecGBox54+oMgOfk1a30j1dXkitY/wjkTuVUmg++B2cRAdBReUKi9dwq5bLXd3d3YbHmovicl2szd1gYX00dgFMH7vbzJWjiBENiarBHVgEqwWEIqsvlUQetpcV12lTgJlEn9pSg0EjTlxWcw90KH4361pUgtzF354UN0MpD0f8NaQoqWuvZainiguV8oDC4IiDd1urXYGw2zWthE6e89KTwoolEOfD5pFDjlyU/0ANC4Pp6EiFUMRQHMe5C+KW4252dapU2etntQhDxTMRi8r/Kpe0Z34sdmW939YVzOpVzkbWZerpfezf2Yj6yiXJ854rWSOzfwKz4u73M/kYf6aeK7UCm2lfLENNU41I36y1UbJ4PgGZ3afPuzjUPkJwsHKhK9HGxfNPD7jO4YUur5mPNol/Hc5GaMieZ5tXDyqJZgXaVEhlttTP3LaZV18GJH425l2Qw0vLd0sS6YGUZrAP+Qg4IidQkNYvwpAnsXg2M6xeyM1A3ygunIU6a2Xr56lIkxnXUsBmfzm0kObdrdvmTDxTc1lGY+doguA=

before_install:
  - docker run -d --name ubuntu-test -v $(pwd):/$CI_SOURCE_PATH ros:$ROS_DISTRO-robot-$ROS_CI_DESKTOP tail -f /dev/null

install:
  - docker exec -t ubuntu-test bash -c "source /opt/ros/$ROS_DISTRO/setup.bash;
    echo \"deb http://packages.ros.org/ros/ubuntu $ROS_CI_DESKTOP main\" > /etc/apt/sources.list.d/ros-latest.list;
    echo \"deb http://us.archive.ubuntu.com/ubuntu/ xenial universe multiverse\" >> /etc/apt/sources.list;
    apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key 421C365BD9FF1F717815A3895523BAEEB01FA116;
    apt-get update -qq;
    apt-get install -y ros-kinetic-xv-11-laser-driver ros-kinetic-robot-pose-ekf ros-kinetic-map-server ros-kinetic-base-local-planner ros-kinetic-costmap-2d ros-kinetic-amcl ros-kinetic-tf ros-kinetic-move-base;
    apt-get install -y python-smbus python-pip socat;
    pip install pyserial AWSIoTPythonSDK PyCRC;
    rosdep update"

before_script:
  - docker exec -t ubuntu-test bash -c "cd $CI_SOURCE_PATH;
    wstool init;
    if [[ -f $ROSINSTALL_FILE ]] ; then wstool merge $ROSINSTALL_FILE ; fi;
    wstool up;
    cd ..;
    rosdep install -y --from-paths src --ignore-src --rosdistro $ROS_DISTRO;
    cd $CI_SOURCE_PATH/alexa_voice_control/Certificates;
    openssl aes-256-cbc -pass \"pass:$SECRET\" -in Pi.private.key.enc -out Pi.private.key -d -a"

script:
    docker exec -t ubuntu-test bash -c "source /opt/ros/$ROS_DISTRO/setup.bash &&
    cd $CI_SOURCE_PATH &&
    catkin_init_workspace &&
    cd .. &&
    catkin_make &&
    source devel/setup.bash &&
    cd src &&
    socat -d -d /dev/ttyACM0,raw,echo=0 /dev/ttyS0,raw,echo=0 &
    timeout 30s roslaunch TROSnavigator.xml"

notifications:
    email: false